// Place all the styles related to the pieces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.formtastic {
	width:40%;
	margin-left:30%;
	margin-right:auto;
	font-size:12pt;
}

a {
	margin-left:30%;
	font-size:14pt;
}