// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1,h2,h3 {
	text-align:center;
}

#edit_link {
	text-align:left;
	font-size:small;
	margin-left:0;
}
button {
	font-size:14pt;
}
#pieces_table table {
	margin-left:10%;
	margin-right:auto;
	width:80%;
}

#pieces_table td, th {
	padding:2px;
	font-size:14pt;
}

#pieces_table tr {
	margin-top:1em;
}

#piece_genre {
	font-size:14pt;
}
#piece_difficulty {
	font-size:14pt;
}

#piece_instrument {
	font-size:14pt;
}

table#piece_table tr:nth-child(odd) { background:lightgreen; }

#filter-form {
	border:solid;
	border-color:green;
	border-width:5px;
	margin-top:1em;
	width:80%;
	text-align:left;
	margin-left:10%;
	margin-right:auto;
	font-size:14pt;
	background-color:lightgreen;
}

.button_to {
    width: 20em;
    margin-left:auto;
	margin-right:auto;
}

#filter-form td {
	font-size:14pt;
	width:8em;
}

#filter-form td:nth-child(2) {
	width:4em;
}
#filter-form table {
	margin-left:1em;
	margin-top:1em;
}

#filter-button {
	font-size:14pt;
	margin-left:1em;
	margin-bottom:1em;
}